body {
  font-family: "Segoe UI", "Arial", sans-serif;
  max-width: 800px;
  margin: auto;
  font-size: 1.1em;
  line-height: 1.7;
  color: #222;
  padding: 1rem;
  background: #fff;
}
@media (max-width: 700px) {
  body {
    font-size: 1em;
    padding: 0.5em;
  }
}
h1,
h2,
h3 {
  font-weight: 600;
  margin-top: 2em;
}
a {
  color: #2579f4;
}
